.contact-page{
    display: flex;
    justify-content: space-between;
    padding:20px;
    margin-bottom: 10px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.image{
    width: 300px;
    padding: 20px;
    margin: 10px;

}

