.mb-3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
  /* font-weight: 200 !important; */
  line-height: 25px;
  font-size: medium;
}


@media (min-width:1024px){

.about-text{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 40px;
  margin: 100px;
}

.about-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 80px;

}

img{
  width:350px;
  border-radius: 10px; 
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
}

.about-info img{
  border-radius: 15px;
}

.about-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

svg{
  width:20px;
  height:20px;
  fill: currentColor;
}

svg:hover{
  color: black;
}

/* .m-14{
  margin-left: 20px;
} */
}

@media (min-width:640px){

  .about-info{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  img{
    width:300px;
    border-radius: 2%;
    margin: 2px;
    height: 200px;
    padding: 10px;
    margin-top:30px;
   }

   
  svg{
    width:20px;
    height:20px;
    fill: currentColor;
  }

  svg:hover{
    color: black;
  }

}

@media (min-width: 378px){

  .about-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }

  .about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 30px;
  }

  img{
    width:300px;
    border-radius: 2%;
    margin: 2px;
   }
   
   
  svg{
    width:20px;
    height:20px;
    fill: currentColor;
  }

  svg:hover{
    color: black;
  }

}


