  <!-- About section -->
  <div class="about-text">
    <h1 class="text-5xl font-extrabold dark:text-black">About<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">a little about me.</small></h1>
    <p class="mb-3 text-center text-gray-500 dark:text-gray-400 p-10">A passionate software developer based in Cape Town. I am also a Computer Science student at the University of South Africa (UNISA).Proficient in a wide array of technologies, my tech stack includes HTML 5, CSS 3, JavaScript, Vue.js, Bootstrap, Node.js, Express.js, Restful APIs, MySQL, PHP, WordPress, Figma, Canva, UI/UX design, SEO, SEO 2, AWS fundamentals, React.js, Next.js, Shopify, Liquid, Angular, C++, Python and Java

        In addition to my technical skills, I bring a range of soft skills to the table, including effective communication, strong teamwork, goal-driven mindset, and excellent time management.
        
        I am eager to apply my knowledge and skills to contribute effectively to a dynamic work environment. Please feel free to reach out if you have any suitable opportunities or if you'd like to learn more about my experiences and capabilities.</p>

   </div>
