  <!-- About section -->
  <div class="about-text">
    <h1 class="text-5xl font-extrabold dark:text-black">About<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">a little about me.</small></h1>
  </div>
    <div class="about-info">
    <img src="../../../assets/452627285_1005369774927625_4313157992438060989_n.jpg" alt="bio">
    <p class="mb-3  text-gray-500 dark:text-gray-400 p-10">I am a passionate <strong>full-stack web developer</strong>  based in Cape Town, South Africa, with a deep enthusiasm for technology and its advancements.
      <br> From the moment I wrote my first line of code, I knew this was my calling.<br> I specialize in the
       <strong> MEAN </strong>stack and also work as a <strong>freelancer</strong>, developing applications for various clients.
       <br>
      When I am not immersed in code or debugging errors, I enjoy writing fictional stories, baking with my little sister, and tutoring high school pupils.
    <span class="flex justify-center"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Resume</button></span></p> 
  </div>


