  <!-- About section -->
  <div class="about-text">
    <h1 class="text-5xl font-extrabold dark:text-black">About<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">a little about me.</small></h1>
  </div>
    <div class="about-info">
    <img src="../../../assets/1719033680956.jpeg" alt="bio">
    <p class="mb-3  text-gray-500 dark:text-gray-400 p-10">A passionate <strong>full-stack</strong> web developer based in Cape Town, South Africa. I am a <strong>tech enthusiast</strong> who is all about technology and its advancements.<br> From the first line of code, I knew this is what I was meant to do.
    The tech stack I specialize in is <strong>MEAN</strong> stack. I also <strong>freelance</strong> clients' applications.<br> Besides being immersed in code and debugging errors, I like to write fictional stories, bake with my little sister and also tutor high school pupils.<br>
    <span class="flex justify-center"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Resume</button></span></p>
    
  </div>


