svg{
    width:20px;
    height:20px;
    fill: currentColor;  
}

svg:hover{
    color: black;
}

.text-sm{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
    /* font-weight: 200 !important; */
    line-height: 25px;
    font-size: medium;
}
  