.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);  
  justify-content: center; 
  align-items: center; 
  gap: 5px; 
  width: 100%; 
  height: auto; 
  padding: 5px; 
  max-width: 800px; 
  margin: 0 auto; 
}

 .icon-item svg {
  width: 50px; 
  height: 50px; 
  object-fit: contain; 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 5px;
  margin: 0;
}


svg {
  fill: currentColor;
  margin-left: 5px;

}

.rotate-center {
  display: inline-block;
}

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width:1028px){
  .work-text{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 10px;
  }
}

  .work-text{
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;   
  }
@media (min-width:640px){
  .work-text{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 10px;
  }
}


@media (min-width:378px){
  .work-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .text-3xl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 10px;
  }
}


