nav .max-w-screen-xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .flex.md\\:order-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  
  nav .space-x-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }
  
  nav .items-center ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }

  .flex{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
      /* font-weight: 200 !important; */
      line-height: 25px;
      font-size: medium;
  }

  .self-center{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important ;
      /* font-weight: 200 !important; */
      line-height: 25px;
      font-size: medium;

  }
/* #navbar-sticky {
  display: none; 
}


#navbar-sticky.block {
  display: inline-block;
}


@media (min-width: 768px) {
  #navbar-sticky {
    display: flex; 
  }
} */

/* Modal background styling */
.fixed.inset-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal container styling */
.bg-white.dark\:bg-gray-800.rounded-lg.shadow-lg.p-6 {
  background-color:  rgba(0, 0, 0, 0.5)e;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 20rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Nav links styling */
.flex.flex-col.items-center.justify-center.space-y-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Space between items */
}

/* Close button ("X") styling */
.self-end {
  align-self: flex-end;
}

button:hover, button:focus {
  color: #3b82f6; /* Hover and focus effect for button */
}

.dark .text-gray-900.dark\:text-white {
  color: #fff; /* Text color in dark mode */
}

  