nav .max-w-screen-xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .flex.md\\:order-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  
  nav .space-x-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }
  
  nav .items-center ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }


  
  @media(min-width:640px){

    #mobile-menu {
      display: none; 
    }

    #mobile-menu.open {
      display: block;
    }
  }
  