

   .container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 50px;
   }

   .text{
    margin:50px;
   }

   .flex justify-center{
    flex-direction: start;
   }
