.container {
    background-image: url(../../../assets/452627285_1005369774927625_4313157992438060989_n.jpg);
    background-size: cover;
    /* margin-top: 16rem; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;  
    width: 100%;
    background-repeat: no-repeat;
  }