<div class="body" id="projects">
    <div class="projects-text">
      <h1 class="text-5xl font-extrabold dark:text-black mx-28 p-10">
        Projects
        <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400">
          a developers catalog.
        </small>
      </h1>
    </div>
    <div class="projects flex flex-wrap justify-center">
      <div class="max-w-sm flex flex-col bg-white border border-gray-200 rounded-md shadow dark:bg-gray-800 dark:border-gray-700 m-10">
          <a href="#">
              <img class="rounded-t-lg m-10" src="../../../assets/ecommerce-website-commerce-and-shopping.svg" alt="" />
          </a>
          <div class="p-5 pt-0 flex-grow">
              <a href="#">
                  <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shukuma (PWA)</h6>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">  
                  This application is a delivery management tool called Shukuma, that allows customers to view and purchase products. 
                  <span *ngIf="showDots">...</span>
                  <span *ngIf="!showDots">Allows a business to track down its orders and keep analytics. And also entails a driver side, where a record of orders is kept and a driver can be assigned.</span>
              </p>
              <button (click)="toggleText()" class="text-blue-500">
                  {{ showDots ? 'Read more' : 'Read less' }}
              </button>
          </div>
      </div>
      <!-- Repeat the same structure for the other cards -->
      <div class="max-w-sm flex flex-col bg-white border border-gray-200 rounded-md shadow dark:bg-gray-800 dark:border-gray-700 m-10">
          <a href="#">
              <img class="rounded-t-lg m-10" src="../../../assets/cookbook.svg" alt="" />
          </a>
          <div class="p-5 pt-0 flex-grow">
              <a href="#">
                  <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Digital CookBook</h6>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">  
                  This is a digital cookbook created for the sole purpose to manage recipes digitally.
                  <span *ngIf="showDots">...</span>
                  <span *ngIf="!showDots">The user can store recipes, add recipes, sort recipes, filter recipes and also has a text-to-speech feature that makes the user experience much easier.</span>
              </p>
              <button (click)="toggleText()" class="text-blue-500">
                  {{ showDots ? 'Read more' : 'Read less' }}
              </button>
          </div>
      </div>
      <div class="max-w-sm flex flex-col bg-white border border-gray-200 rounded-md shadow dark:bg-gray-800 dark:border-gray-700 m-10">
          <a href="#">
              <img class="rounded-t-lg m-10" src="../../../assets/rocket-launch.svg" alt="" />
          </a>
          <div class="p-5 pt-0 flex-grow">
              <a href="#">
                  <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Student Management</h6>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  This is a student management platform whereby there is a record management.
                  <span *ngIf="showDots">...</span>
                  <span *ngIf="!showDots">The educator can add students, update their details, and delete records. It also has features for analytics and statistics of the record management. (In Production)</span>
              </p>
              <button (click)="toggleText()" class="text-blue-500">
                  {{ showDots ? 'Read more' : 'Read less' }}
              </button>
          </div>
      </div>
  </div>
  
  </div>
  
  
