.projects-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#shukuma{
    width: 360px;
    size-adjust: 60%;
    height: 180px;
}

.body{
  background-color: #E6FEEE;
  margin-top: 20px;
  margin-bottom: 20px;
}

