/* .container {
  background-image: url(../assets/452627285_1005369774927625_4313157992438060989_n.jpg);
  background-size: cover;

  min-height: 100vh;  
  width: 100%;
} */
/* 
.about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .work-text{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  margin:20px;
  padding:5px;
} */
/* 
.col-span-3{
  margin: 20px;
} */

/* h-auto max-w-xs{
  border-radius: 50%;
} */

*{
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;

}





