<router-outlet></router-outlet>
      <div>
        <nav class="navbar navbar-expand-lg sticky">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li style="display:inline" id="bar">
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li style="display:inline">
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li style="display:inline">
                    <a routerLink="/education" routerLinkActive="active">Education</a>
                </li>
                <li style="display:inline">
                    <a routerLink="/projects" routerLinkActive="active">Projects</a>
                </li>
                <li style="display:inline">
                    <a routerLink="/testimonials" routerLinkActive="active">Contact</a>
                </li>
            </ul>
            </div>
          </div>
        </nav>
      </div>
      <div>
        <div>
          <div>
            <h2 >Hi, I am Buhle Qampi.
                I am a software developer & aspiring AWS Cloud Practitioner </h2>
          </div>
        </div>
      </div>
      <div class="container px-5">
        <div class="row" style="height: 100%;">
          <h1 class="d-flex justify-content-center mt-2 text-black">About Me</h1>
            <div class="row d-flex flex-column flex-sm-row justify-content-center">
              <div class="col">
                <img src="https://i.postimg.cc/3J3jBGzN/My-project.jpg" alt="picture"/>
              </div>
            <div class="col">
            <p class="lead text-black">My name is <strong>Buhle Qampi</strong>,and I was born on the 14th of August 2000.
            My hobbies include watching documentaries about the innovation of Artificial Intelligence and new inventions of frameworks to JavaScript.
            I am an intern developer in the field of full-stack.I am a winner and know that with programming you do not always win, bugs and errors always try to complicate your code,
            but nothing is of greater satisfaction when you debug and fix your code, no matter how long after how you struggled.I am a goal-driven, a team player and attentive to detail when it comes to design beautiful and professional websites.</p></div>
            </div>
        </div>
      </div>
          <h1 class="d-flex justify-content-center mt-2 text-white">Resume</h1>
          <section class="design-section">
          <div class="timeline">
            <div class="timeline-empty">
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle">
              </div>
            </div>
            <div class="timeline-component timeline-content">
              <h4>LC Studio</h4>
              <p>Intern Web developer</p>
              <p>April 2023- Currently</p>
            </div>
            <div class="timeline-component timeline-content">
              <h4>Life Choices Academy</h4>
              <p>Student</p>
              <p>Sept 2022- Mar 2023</p>
            </div>
            <div class="timeline-middle">
            <div class="timeline-circle">
            </div>
            </div>
            <div class="timeline-empty">
            </div>
            <div class="timeline-empty">
            </div>
            <div class="timeline-middle">
            <div class="timeline-circle"></div>
            </div>
            <div class=" timeline-component timeline-content">
              <h4>IkamvaYouth</h4>
              <p>High School Programme Admin</p>
              <p>Sept 2022- Nov 2022</p>
            </div>
          </div>
        <div class="container text-center">
            <h1 class="tech text-white">Tech Stack</h1>
          <div class="row">
            <div class="col"><i class="fa-brands fa-html5 fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-css3-alt fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-square-js fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-node-js fa-6x fade-in"></i></div>
          </div>
          <div class="row">
            <div class="col"><i class="fa-brands fa-vuejs fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-bootstrap fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-figma fa-6x fade-in"></i></div>
            <div class="col"><i class="fa-brands fa-wordpress fa-6x fade-in"></i></div>
          </div>
      <div class="row">
        <div class="col">
          <a href="https://drive.google.com/file/d/1LwfZj0rjS4WY99Scb3zm0U6NOQH-_Cc3/view?usp=sharing" target="_blank" ><button type="button" class="btn btn-secondary btn-lg">Download CV</button></a>
        </div>
        <div class="col">
          <a href="https://drive.google.com/file/d/17OEbUJNDyfMeEOeo1KuIwAzgWNN8I3G-/view?usp=sharing" target="_blank" ><button type="button" class="btn btn-secondary btn-lg">Download Certificate</button></a>
        </div>
      </div>
    </div>
    </section>
        <div class="row">
          <div class="col">
          <h2 class="d-flex justify-content-center mt-2 text-black">Connect With Me</h2>
          <div class="row">
              <p class="larger-p"><i class="fa-solid fa-location-dot detail"></i>Nyanga, Cape Town</p>
              <p class="larger-p"><i class="fa-solid fa-phone detail"></i>0636350263</p>
              <p class="larger-p"><i class="fa-solid fa-envelope  detail"></i>buhle3857@gmail.com</p>
          </div>
          <div class="row">
              <ul class="icons">
              <li>
                  <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/buhle-qampi-293140158/" target="_blank"><i class="fa-brands fa-linkedin fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.facebook.com/buhle.qampi/" target="_blank"><i class="fa-brands fa-facebook fa-3x "></i></a>
              </li>
              <li>
                  <a href="https://www.instagram.com/gingerqamps/"  target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
              </li>
          </ul>
          </div>
        </div>
          <div class="col">
          <h2 class="d-flex justify-content-center mt-2 text-black">Get In Touch!</h2>
          <form action ="https://formspree.io/f/mwkjydzb" method="POST">
          <div class="mb-3 ">
              <label for="first" class="form-label">First name</label>
              <input type="first" name="first" class="form-control" id="example" required>
          </div>
          <div class="mb-3">
              <label for="last" class="form-label">Last Name</label>
              <input type="last" name="last" class="form-control" id="example"  required>
          </div>
          <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input type="subject" name="subject" class="form-control" id="example" required>
          </div>
          <label for="message" class="form-label">Message</label>
          <textarea type="message" name="message" class="form-control" id="exampleInputMessage" placeholder="Write something" required></textarea>
          <button type="submit" class="btn btn-secondary submit-btn" style="margin-top: 10px;">Submit</button>
          </form>
          </div>
          </div>






