.services-text{
    display: flex;
    flex-direction: start;
  }

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* h6{
 text-size-adjust: 20%;
} */
.body{
  background-color: #E6FEEE;
  margin-top: 20px;
}
