.services-text{
    display: flex;
    flex-direction: start;
  }

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body{
  background-color: #E6FEEE;
  margin-top: 20px;
}

#api{
  width: 200px;
}

@media (max-width:378px){ 
  .services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .services-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
}

@media (min-width:640px){


  }
