<h1 class="d-flex justify-content-center mt-2 text-white">Resume</h1>
<section class="design-section">
<div class="timeline">
  <div class="timeline-empty">
                </div>
                <div class="timeline-middle">
                 <div class="timeline-circle"></div>
             </div>
             <div class="timeline-component timeline-content">
              <h4>LC Studio</h4>
              <p>Intern Web developer</p>
              <p>April 2023- Currently</p>
         </div>
              <div class="timeline-component timeline-content">
                       <h4>Life Choices Academy</h4>
                       <p>Student</p>
                       <p>Sept 2022- Mar 2023</p>
              </div>
              <div class="timeline-middle">
                  <div class="timeline-circle"></div>
              </div>
              <div class="timeline-empty">
              </div>

              <div class="timeline-empty">
              </div>

             <div class="timeline-middle">
                 <div class="timeline-circle"></div>
             </div>
             <div class=" timeline-component timeline-content">
              <h4>IkamvaYouth</h4>
              <p>High School Programme Admin</p>
              <p>Sept 2022- Nov 2022</p>
         </div>

     </div>
     <div class="container text-center">
    <h1 class="tech text-white">Tech Stack</h1>
     <div class="row">
     <div class="col"><i class="fa-brands fa-html5 fa-6x fade-in"></i></div>
     <div class="col"><i class="fa-brands fa-css3-alt fa-6x fade-in"></i></div>
      <div class="col"><i class="fa-brands fa-square-js fa-6x fade-in"></i></div>
      <div class="col"><i class="fa-brands fa-node-js fa-6x fade-in"></i></div>
      </div>
      <div class="row">
      <div class="col"><i class="fa-brands fa-vuejs fa-6x fade-in"></i></div>
      <div class="col"><i class="fa-brands fa-bootstrap fa-6x fade-in"></i></div>
      <div class="col"><i class="fa-brands fa-figma fa-6x fade-in"></i></div>
      <div class="col"><i class="fa-brands fa-wordpress fa-6x fade-in"></i></div>
      </div>
      <div class="row">
        <div class="col">
          <a href="https://drive.google.com/file/d/1LwfZj0rjS4WY99Scb3zm0U6NOQH-_Cc3/view?usp=sharing" target="_blank" ><button type="button" class="btn btn-secondary btn-lg">Download CV</button></a>
        </div>
        <div class="col">
          <a href="https://drive.google.com/file/d/17OEbUJNDyfMeEOeo1KuIwAzgWNN8I3G-/view?usp=sharing" target="_blank" ><button type="button" class="btn btn-secondary btn-lg">Download Certificate</button></a>
        </div>
        </div>
    </div>
</section>
