
  <div class="introduction justify-content center">
    <div class="row" style="display: flex; align-items: center;">
      <div class="col">
      <h2 class=" mt-5"  >Hi, I am Buhle Qampi.
      I am an intern web developer & aspiring AWS Cloud Practitioner </h2>
      <ul class="icons" >
            <li style="display: inline;">
                <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github fa-5x"></i></a>
            </li>
            <li style="display:inline">
                <a href="https://www.linkedin.com/in/buhle-qampi-293140158/" target="_blank"><i class="fa-brands fa-linkedin fa-5x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col mt-5">
      <img src="https://i.postimg.cc/qBFgjvmB/landing-removebg-preview.png" alt="landing"/>
    </div>
      </div>
      </div>
