.work-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:5px;
  }

.col-span-3{
    margin: 20px;
  }

.mb-4 {
    border: 1px ;
    background-color: #9996A7;
    box-shadow: inset;
    border-radius: 10px;
    margin: 10px;
  }

  .mb-5{
    padding: 20px;
    border: 1px ;
    background-color: #9996A7;
    box-shadow: inset;
    border-radius: 10px;
    margin: 10px;
  }

.experience{
    display: flex;
    flex-direction: start;
    align-items: flex-start;
  }

  .circle-list {
    list-style-type: circle;
    margin: 0;
    padding: 20px;
    padding-left: 1.5em; 
  }
  
  .circle-list li {
    margin-bottom: 0.5em; 
  }

  
  @media (min-width:640px){
    
    .relative{
      margin: 40px;
    }
  }

  @media (min-width:378px) {
    .work-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* margin:5px; */
      }

    .flex{
      width: 100%;
    }

    .relative{
      margin: 40px;
    }

    .text-3xl{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding:2px;
      margin: 10px;
    }

    .experience{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle-list{
      text-size-adjust: 300px;
    }
  
  }
