     <!-- Work section-->
     <div class="work-text">
        <h1 class="text-5xl font-extrabold dark:text-black">Resume<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400"> work experience over the years.</small></h1>
    </div>
    <div class="experience">
        <h1 class="text-3xl font-extrabold dark:text-black">Work experience</h1>
    </div>
      
    <div class="flex justify-center">
        <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2023 - January 2024</time>
                <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Succeed Group</h2>
                <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Web Development and Design Intern</h4>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"> <li>My duties included doing ad-hoc activities such as monthly client’s newsletters, banners and mailshots using MailPoet.</li>
                   <li>Doing client’s website maintenance in WordPress.</li> 
                   <li> Doing SEO Keyword Research on onboarding clients.</li>
                   <li> Conducting research on SEO trend  latest updates for the company on a quartely basis</li>
                </p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April - July 2023</time>
                <h2 class="text-lg font-semibold text-gray-900 dark:text-white">LC Studio</h2>
                <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Web Developmeent Intern</h4>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"> <li>I was in 4- month internship in LC Studio. The internship was divided in phases; the first phase we went a various learning journeys.</li>
                   <li>These learning journeys included acquiring skills in UI/UX Design, WordPress, Figma and PHP.</li> 
                   <li> The second phase we did projects to reflect on the skills we have acquired.</li>
                   <li>  The third phase we upskill on Advanced Javascript and AWS fundamentals.</li>
                </p>
            </li>
        </ol>
    </div>
      
<!-- Education section -->

<div class="experience">
    <h1 class="text-3xl font-extrabold dark:text-black">Education</h1>
</div>
 
<div class="flex justify-center">
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">11 March - 11 July 2024</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">UCT GSB Solution Space</h3>
        <p class="mb-5 text-base font-normal text-gray-500 dark:text-gray-400">
            <li> I participated in an intensive full-stack coding bootcamp program run by Shaper and Ayoba</li>
            <li> This program specializes in the MEAN stack (MongoDB, Express.js, Angular, Node.js) </li>
            <li>and involves building projects to test my abilities in each technology.</li>
            
        </p>
       
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">September 2022 - March 2023</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Life Choices Coding Academy</h3>
        <p class="mb-5 text-base font-normal text-gray-500 dark:text-gray-400">
            <li>I participated in an intensive full-stack coding bootcamp program run by Life Choices.</li>
            <li>This program specializes in the MEVN stack (MySQL, Express.js, Vue.js, Node.js) </li>
            <li>and involves building projects to test my abilities in each technology</li>
        </p>
    </li>
</ol>
</div>




