     <!-- Work section-->
     <div class="work-text">
        <h1 class="text-5xl font-extrabold dark:text-black">Resume<small class="ms-2 font-semibold text-gray-500 dark:text-gray-400"> work experience over the years.</small></h1>
    </div>
    <div class="grid-cards">
        <div class="col-span-3">
          <img class="h-auto max-w-xs" src="../assets/1719033680956.jpeg" alt="image description">
          <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">UCT GSB Solution Space</figcaption>
          <p class="mb-3 text-center text-gray-500 dark:text-gray-400 p-10">A passionate software developer based in Cape Town. I am also a Computer Science student at the University of South Africa (UNISA).Proficient in a wide array of technologies, my tech stack includes HTML 5, CSS 3, JavaScript, Vue.js, Bootstrap, Node.js, Express.js, Restful APIs, MySQL, PHP, WordPress, Figma, Canva, UI/UX design, SEO, SEO 2, AWS fundamentals, React.js, Next.js, Shopify, Liquid, Angular, C++, Python and Java

            In addition to my technical skills, I bring a range of soft skills to the table, including effective communication, strong teamwork, goal-driven mindset, and excellent time management. </p>
            
        </div>
        <div class="col-span-3">
          <img class="h-auto max-w-xs" src="../assets/1719033680956.jpeg" alt="image description">
          <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Succeed Group</figcaption>
          <p class="mb-3 text-center text-gray-500 dark:text-gray-400 p-10">A passionate software developer based in Cape Town. I am also a Computer Science student at the University of South Africa (UNISA).Proficient in a wide array of technologies, my tech stack includes HTML 5, CSS 3, JavaScript, Vue.js, Bootstrap, Node.js, Express.js, Restful APIs, MySQL, PHP, WordPress, Figma, Canva, UI/UX design, SEO, SEO 2, AWS fundamentals, React.js, Next.js, Shopify, Liquid, Angular, C++, Python and Java

            In addition to my technical skills, I bring a range of soft skills to the table, including effective communication, strong teamwork, goal-driven mindset, and excellent time management. </p>
        </div>
        <div class="col-span-3">
          <img class="h-auto max-w-xs" src="../assets/1719033680956.jpeg" alt="image description">
           <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">LC Studio</figcaption>
           <p class="mb-3 text-center text-gray-500 dark:text-gray-400 p-10">A passionate software developer based in Cape Town. I am also a Computer Science student at the University of South Africa (UNISA).Proficient in a wide array of technologies, my tech stack includes HTML 5, CSS 3, JavaScript, Vue.js, Bootstrap, Node.js, Express.js, Restful APIs, MySQL, PHP, WordPress, Figma, Canva, UI/UX design, SEO, SEO 2, AWS fundamentals, React.js, Next.js, Shopify, Liquid, Angular, C++, Python and Java

            In addition to my technical skills, I bring a range of soft skills to the table, including effective communication, strong teamwork, goal-driven mindset, and excellent time management. </p>
           </div>
           <div class="col-span-3">
            <img class="h-auto max-w-xs" src="../assets/1719033680956.jpeg" alt="image description">
             <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">LC Studio</figcaption>
             <p class="mb-3 text-center text-gray-500 dark:text-gray-400 p-10">A passionate software developer based in Cape Town. I am also a Computer Science student at the University of South Africa (UNISA).Proficient in a wide array of technologies, my tech stack includes HTML 5, CSS 3, JavaScript, Vue.js, Bootstrap, Node.js, Express.js, Restful APIs, MySQL, PHP, WordPress, Figma, Canva, UI/UX design, SEO, SEO 2, AWS fundamentals, React.js, Next.js, Shopify, Liquid, Angular, C++, Python and Java
  
              In addition to my technical skills, I bring a range of soft skills to the table, including effective communication, strong teamwork, goal-driven mindset, and excellent time management. </p>
             </div>
